.sum{
    background-color: grey;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: black;
}

.sum input{
    background-color: yellow;
}

.sum .a{
    background-color: burlywood;
}

.sum button{
    background-color:green;
}